/*
!/.gitignore
!/.bashrc
!/.gitconfig
!/.oh-my-zsh
/.oh-my-zsh/*
/.oh-my-zsh/themes/*
!/.oh-my-zsh/themes/amusewes.zsh-theme
!/.profile
!/.vimrc
!/.ssh/config_*
!/.tmux.conf
!/.zshrc
!/setup_home.sh
!/README.md
!/Vagrantfile
